:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
  --main-font: "Livvic", "Arial", sans-serif;
}
/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* DELIVERING */

.delivering {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--color-secondary-deep-jungle-green);
  text-align: center;
  background-image: url(../img/icon/delivering-top-bg.svg),
  url(../img/icon/delivering-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: left top, right calc(90% + 155px);
}

/* TITLE */

.delivering__heading {
  margin: 0 0 92px;
  padding: 0;
  display: inline-block;
  font-family: 'Livvic';
  font-weight: bold;
  width: 932px;
  font-size: 48px;
  line-height: 48px;
}

.delivering__heading span {
  color: var(--color-secondary-rapture-blue);
}

.delivering__list {
  display: flex;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.delivering__item {
  position: relative;
  z-index: 5;
  margin-right: 30px;
  width: 350px;
  text-align: center;
}

.delivering__item::before {
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  top: -35px;
  left: calc(50% - 38px);
  width: 67px;
  height: 56px;
  background-image: url(../img/icon/comas.svg);
  background-repeat: no-repeat;
}

.delivering__item-content {
  margin: 0 0 24px;
  padding: 0;
}

.delivering__item-heading {
  margin: 0 0 2px;
  padding: 0;
  color: var(--color-secondary-rapture-blue);
}

.delivering__item-text {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}